@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Playfair+Display:wght@900&display=swap');

/*O fator responsivo do tamanho de tela laptop ficou comprometido*/
@media(min-width:901px) and (max-width: 1500px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #9767A9;
    }

    header {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        position: fixed;
        height: 4rem;
        background-color: white;
        z-index: 1;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 20px 0 20px;
    }

    .logo {
        width: 6rem;
        margin-top: 4px;
    }

    .divList {
        width: 50%;
    }

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: 13px;
        color: #9767A9;
        margin-top: 2px;
    }

    a {
        text-decoration: none;
        color: #9767A9;
    }

    ul :hover {
        font-weight: 700;
        color: #9767A9;

    }

    li {
        margin-left: 10px;

    }

    .pesquisa {
        width: 8rem;
        height: 1.5rem;
        border: solid 2px #9767A9;
        border-radius: 25px;
        outline: none;
        background: url(/images/Layer_3.svg);
        background-repeat: no-repeat;
        background-size: 14px;
        background-position-y: 4px;
        background-position-x: 4px;
        padding-left: 21px;
        color: #9767A9;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
    }

    ::placeholder {
        font-size: 11px;
        color: #9767A9;
        position: absolute;
        top: 3px;
        font-family: 'Montserrat', sans-serif;
    }

    .social {
        width: 1.5rem;
        margin-top: 5px;
    }

    /*MAIN*/
    .primeiraSection {
        background: url(/images/cabeludo2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 550px
    }

    .texto1PrimeiraSection {
        width: 10%;
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 20px;
        top: 50px;

    }

    .texto2PrimeiraSection {
        width: 23%;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        position: relative;
        left: 70px;
        top: 50px;
    }

    .segundaSection {
        width: 100%;
        background-color: #9767A9;
        display: flex;
        justify-content: space-around;
        height: 13rem;

    }

    .texto1 {
        font-family: 'Playfair Display', serif;
        font-size: 35px;
        width: 40%;
        color: white;
        display: flex;
        justify-content: center;
        position: relative;
        top: 15px;
    }

    .texto2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 200;
        width: 35%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* CONTEUDO */
    .terceiraSection {
        width: 100%;
    }

    .foto1,
    .foto2,
    .foto3,
    .foto4,
    .foto5,
    .foto6,
    .foto7 {
        width: 35rem;
        padding-top: 50px;
    }

    .fotos {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 25px 0 25px;
    }

    .textoOne,
    .textoTwo,
    .textoThree,
    .textoFour,
    .textoFive,
    .textoSix,
    .textoSeven {
        background-color: #9767A9;
        width: 35%;

    }

    .textoh2 {
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        color: white;
        padding-bottom: 20px;
    }

    .textop {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 200;
        color: white;
    }

    .conteudo1,
    .conteudo2,
    .conteudo3,
    .conteudo4,
    .conteudo5,
    .conteudo6,
    .conteudo7 {
        width: 45%;
        position: relative;
        bottom: 100px;
    }

    .textoOne,
    .textoTwo,
    .textoThree,
    .textoFour,
    .textoFive,
    .textoSix,
    .textoSeven {
        width: 70%;
        padding: 15px 15px 15px 15px;
        position: relative;
        left: 80px;
        bottom: 120px;
    }

    .conteudo1 {
        width: 45%;
        height: 120vh;
        position: relative;
        bottom: 120px;
        margin-left: 50px;
    }

    .conteudo2 {
        width: 45%;
        height: 110vh;
        position: relative;
        top: 100px;
        margin-right: 50px;
    }

    .conteudo3 {
        width: 45%;
        height: 110vh;
        position: relative;
        bottom: 160px;
        margin-left: 50px;
    }

    .conteudo4 {
        width: 45%;
        height: 110vh;
        position: relative;
        top: 70px;
        margin-right: 50px;
    }

    .conteudo5 {
        width: 45%;
        height: 110vh;
        position: relative;
        bottom: 150px;
        margin-left: 50px;
    }

    .conteudo6 {
        width: 45%;
        height: 110vh;
        position: relative;
        top: 70px;
        margin-right: 50px;
    }

    .conteudo7 {
        width: 45%;
        height: 110vh;
        position: relative;
        bottom: 155px;
        right: 27px;
    }

    .risco {
        width: 350px;
        position: relative;
        bottom: 100px;
        right: 75px
    }

    /*galeria*/
    .galeria {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 60px;
    }

    .galeriaFotos {
        width: 76%;
        display: grid;
        grid-template-areas:
            'galeria1 galeria2 galeria4 galeria5 galeria6'
            'galeria1 galeria3 galeria4 galeria5 galeria10'
            'galeria7 galeria8 galeria9 galeria5 galeria10'
    }

    .galeria1 {
        grid-area: galeria1;
        width: 225px;
        height: 375px;
    }

    .galeria2 {
        grid-area: galeria2;
        height: 185px;
        width: 160px;
    }

    .galeria3 {
        grid-area: galeria3;
        position: relative;
        top: 5px;
        height: 180px;
        width: 160px;
    }

    .galeria4 {
        grid-area: galeria4;
        height: 375px;
        width: 160px;
    }

    .galeria5 {
        grid-area: galeria5;
        width: 225px;
        height: 530px;
    }

    .galeria6 {
        grid-area: galeria6;
        width: 160px;
        height: 138px;
    }

    .galeria7 {
        grid-area: galeria7;
        width: 225px;
        height: 147px;
        position: relative;
        bottom: 10px;
    }

    .galeria8 {
        grid-area: galeria8;
        position: relative;
        bottom: 10px;
        width: 160px;
    }

    .galeria9 {
        grid-area: galeria9;
        position: relative;
        bottom: 10px;
        width: 160px;
    }

    .galeria10 {
        grid-area: galeria10;
        height: 380px;
        position: relative;
        bottom: 42px;
        width: 160px;
    }

    footer {
        background-color: #9767A9;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .pFooter {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 200;
        width: 50%;
    }

    .divButtons {
        display: flex;
        justify-content: center;
    }

    .esquerda,
    .cima,
    .direita {
        width: 20px;
        height: 60px;
    }

    button {
        display: flex;
        align-items: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        margin-left: 10px;
        background-color: #9767A9;
        border: none;
    }

    .buttonCima {
        cursor: pointer;
    }

    .buttonCima :hover {
        background-color: #AC95BB;
        cursor: pointer;
    }

    .sociaisFooter,
    .footerMobile,
    .h2FooterMobile {
        display: none;
    }
}

/*MOBILE*/
@media(min-width:201px) and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-thumb {
        background: #9767A9;
    }

    header {
        width: 100%;
        height: 3rem;
        background-color: white;
        z-index: 1;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menuMobile {
        width: 12%;
        height: 3rem;
        background-color: #9767A9;
        cursor: pointer;
    }

    .menuMobileItem {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 5px 0 0 2vw;
        position: relative;
        top: 10px;
        left: 7px;
    }

    ul,
    .divList,
    .divPesquisa,
    .divSocial {
        display: none;
    }

    .logo {
        width: 4rem;
        position: relative;
        right: 31vh
    }

    .primeiraSection {
        background: url(/images/cabeludo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30% 70%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 550px
    }

    .texto1PrimeiraSection {
        width: 10%;
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 30vh;
        top: 17vh;

    }

    .texto2PrimeiraSection {
        width: 60%;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 200;
        /*a propriedade font-weight não está sendo aplicada*/
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 12vh;
        top: 25vh;
    }

    .segundaSection {
        width: 100%;
        background-color: #9767A9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 19rem;

    }

    .texto1 {
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        width: 80%;
        color: white;
        display: flex;
        justify-content: center;
        /* position: relative;
        top: 15px; */
    }

    .texto2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 200;
        width: 80%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .terceiraSection {
        width: 100%;
    }

    .foto1,
    .foto2,
    .foto3,
    .foto4,
    .foto5,
    .foto6,
    .foto7 {
        width: 80%;
        position: relative;
        left: 10%;
    }

    .fotos {
        width: 100%;
    }

    .foto1 {
        top: 2rem;
    }

    .foto2,
    .foto3,
    .foto4,
    .foto5,
    .foto6,
    .foto7 {
        bottom: 6rem;
    }

    .risco {
        width: 50vw;
        position: relative;
        bottom: 4rem;
        left: 7rem;
    }

    .textoOne,
    .textoTwo,
    .textoThree,
    .textoFour,
    .textoFive,
    .textoSix,
    .textoSeven {
        background-color: #9767A9;
        width: 35%;

    }

    .textoh2 {
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        color: white;
        padding-bottom: 20px;
    }

    .textop {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 200;
        color: white;
    }


    .textoOne,
    .textoTwo,
    .textoThree,
    .textoFour,
    .textoFive,
    .textoSix,
    .textoSeven {
        width: 100%;
        padding: 15px 20px 15px 20px;
        position: relative;
        bottom: 120px;
    }

    .galeria {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .galeriaFotos {
        width: 62%;
        display: grid;
        grid-template-areas:
            'galeria1 galeria2 galeria3'
            'galeria1 galeria8 galeria8'
            'galeria7 galeria7 galeria7'
            'galeria5 galeria10 galeria4'
            'galeria6 galeria9 galeria4';
        row-gap: 5px;
    }

    .galeria1 {
        grid-area: galeria1;
        width: 130px;
        height: 213px;
    }

    .galeria2 {
        grid-area: galeria2;
        width: 65px;
        position: relative;
        left: 5px;
        height: 80px;
    }

    .galeria3 {
        grid-area: galeria3;
        width: 70px;
        height: 80px;
    }

    .galeria4 {
        grid-area: galeria4;
        width: 110px;
        height: 250px;
        position: relative;
        right: 40px;
    }

    .galeria5 {
        grid-area: galeria5;
        width: 75px;
        height: 170px;
    }

    .galeria6 {
        grid-area: galeria6;
        width: 75px;
        height: 75px;
        position: relative;
    }

    .galeria7 {
        grid-area: galeria7;
        width: 275px;
    }

    .galeria8 {
        grid-area: galeria8;
        width: 140px;
        position: relative;
        left: 5px;
    }

    .galeria9 {
        grid-area: galeria9;
        width: 75px;
        height: 75px;
        position: relative;
        right: 47px;
    }

    .galeria10 {
        grid-area: galeria10;
        width: 75px;
        height: 170px;
        position: relative;
        right: 47px;
    }

    footer {
        background-color: white;
        width: 100%;
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .pFooter {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 500;
        width: 90%;
    }

    .divButtons {
        display: none
    }

    .footerMobile {
        width: 100%;
        order: -1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
    }

    .sociaisFooter {
        cursor: pointer;
    }

    .buttonsMobile {
        cursor: pointer;
        position: relative;
        right: 10px;
    }

    .h2FooterMobile {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        position: relative;
        right: 160px;

    }
}